@model Gopat.Crm.Models.TestSlot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TestSlot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDurationMins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDurationMins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualDurationMins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualDurationMins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedAppliances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedAppliances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAppliances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAppliances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestSlowResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestSlowResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
